<div class="card">
    <div class="card-header bg-dark text-light">Level 2</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level2.cshtml.</p>
        <ol>
            <li>...all womens' leagues</li> 
            <li>...all leagues where sport is any type of hockey</li> 
            <li>...all leagues where sport is something OTHER THAN Football<li> 
            <li>...all leagues that call themselves "conferences"</li> 
            <li>...all leagues in the Atlantic region</li> 
            <li>...all teams based in Dallas</li> 
            <li>...all teams named the Raptors</li> 
            <li>...all teams whose location includes "City"</li> 
            <li>...all teams whose names begin with "T"</li> 
            <li>...all teams, ordered alphabetically by location</li>
            <li>...all teams, ordered by team name in reverse alphabetical order</li> 
            <li>...every player with last name "Cooper"</li> 
            <li>...every player with first name "Joshua"</li> 
            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name</li>
            <li>...all players with first name "Alexander" OR first name "Wyatt"</li>
        </ol>
        <h3>All Atlantic Soccer Conference Teams</h3>
        <table class="table table-info">
            <tr>
                <th>Team Name</th>
                <th>Team Location</th>
            </tr>
            @foreach (var l in ViewBag.atlanticTeams)
            {
                    <tr>
                        <td>@l.TeamName</td>
                        <td>@l.Location</td>
                    </tr>

            }
        </table>
        <h3>All Current Players on the Boston Penguins</h3>
        <table class="table table-info">
            <tr>
                <th>Player First Name</th>
                <th>Player Last Name</th>
            </tr>
            @foreach (var t in ViewBag.playersBoston)
            {
                    <tr>
                        <td>@t.FirstName</td>
                        <td>@t.LastName</td>
                    </tr>

            }
        </table>
        <h3>All Current Players in the International Collegiate Baseball Conference</h3>
        <table class="table table-info">
            <tr>
                <th>Player First Name</th>
                <th>Player Last Name</th>
            </tr>
            @foreach (var t in ViewBag.playersCollegiate)
            {
                    <tr>
                        <td>@t.FirstName</td>
                        <td>@t.LastName</td>
                    </tr>

            }
        </table>
        <h3>All players with Last Name "Lopez" in Atlantic Football Conference</h3>
        <table class="table table-info">
            <tr>
                <th>Player First Name</th>
                <th>Player Last Name</th>
            </tr>
            @foreach (var t in ViewBag.playersLopez)
            {
                    <tr>
                        <td>None @t.FirstName</td>
                        <td>None @t.LastName</td>
                    </tr>

            }
        </table>
        <h3>All Football Players</h3>
        <table class="table table-info">
            <tr>
                <th>Player First Name</th>
                <th>Player Last Name</th>
            </tr>
            @foreach (var t in ViewBag.allFootballPlayers)
            {
                    <tr>
                        <td>@t.FirstName</td>
                        <td>@t.LastName</td>
                    </tr>

            }
        </table>
        <h3>All teams with player whose First Name: Sophia</h3>
        <table class="table table-info">
            <tr>
                <th>Team Name</th>
                <th>Team Location</th>
            </tr>
            @foreach (var t in ViewBag.sophiaTeams)
            {
                    <tr>
                        <td>@t.TeamName</td>
                        <td>@t.Location</td>
                    </tr>

            }
        </table>
        <h3>All leagues with player whose First Name: Sophia</h3>
        <table class="table table-info">
            <tr>
                <th>League Name</th>
                <th>League Sport</th>
            </tr>
            @foreach (var t in ViewBag.leagueSophia)
            {
                    <tr>
                        <td>@t.Name</td>
                        <td>@t.Sport</td>
                    </tr>

            }
        </table>
        <h3>everyone with the last name "Flores" who DOESN'T (currently) play for the Washington Roughriders</h3>
        <table class="table table-info">
            <tr>
                <th>Player First Name</th>
                <th>Player Last Name</th>
            </tr>
            @foreach (var t in ViewBag.teamFlores)
            {
                    <tr>
                        <td>@t.FirstName</td>
                        <td>@t.LastName</td>
                    </tr>

            }
        </table>
    </div>
</div>